<p id="notice"><%= notice %></p>

<p>
  <strong>Id participante:</strong>
  <%= @participante.id_participante %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @participante.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @participante.rg %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @participante.datanasc %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participante.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @participante.telefone %>
</p>

<p>
  <strong>Formacao:</strong>
  <%= @participante.formacao %>
</p>

<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
